body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    margin-bottom: 20px;
    width: 48%;
    /* Para dividir en dos columnas */
}

.movie {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-info {
    flex: 1;
    text-align: left;
    padding: 10px;
}

.movie-image {
    flex: 1;
    text-align: center;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}